# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Compiler outputs / Build directories
dist/
dist-ssr/
build/
.tanstack/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.claude.local

# Operating System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?

# files
claude_env.md